<button (click)="fondo()">Cambiar fondo</button>
<button (click)="conditionFuntion()">Cambiar condition</button>

<br>
<ng-container [ngSwitch]="condition">
<p *ngSwitchCase="true">Me renderice</p>
<p *ngSwitchCase="false">Me renderice pero ahora es false</p>
</ng-container>


<br>
<br>

<button (click)="nivelFuntion(1)">+</button>
    {{nivel}}
<button (click)="nivelFuntion(-1)">-</button>

<br>
<ng-container [ngSwitch]="nivel">
    <p *ngSwitchCase="0">Invitado</p>
    <p *ngSwitchCase="1">Usuario</p>
    <p *ngSwitchCase="2">Mod</p>
    <p *ngSwitchCase="3">Admin</p>
    <p *ngSwitchCase="4">Root</p>
    </ng-container>




